""" Include .vimrc 
source ~/.vimrc

""" Plugins 
set NERDTree
set surround

set ideajoin
set idearefactormode=keep

nnoremap <C-t> :NERDTreeToggle<CR>


""" clear highlighted search
nnoremap <space><space> :noh<cr>
